{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses students detail page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with active_students="active" %}
{% endblock navi %}

{% block content %}

    <div class="page-header">
        <h1 class="detail-surname">{{ student.name }} {{ student.surname }}</h1>
    </div>

    <div>
        <table class="table detail-table">
            <tr>
                <th>дата рождения</th>
                <td>{{ student.date_of_birth }}</td>
            </tr>
            <tr>
                <th>адрес</th>
                <td>{{ student.address }}</td>
            </tr>
            <tr>
                <th>почта</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>логин skype</th>
                <td>{{ student.skype }}</td>
            </tr>
            <tr>
                <th>телефон</th>
                <td>{{ student.phone }}</td>
            </tr>
            <tr>
                <th>Курсы</th>
                <td>
                    <ul>
                        {% for course in student.courses.all %}
                        <li><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>

{% endblock content %}