{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses students page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with active_students="active" %}
{% endblock navi %}

{% block content %}

    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Список студентов</h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>
                        <a href="{% url 'students:add' %}">добавить студента</a>
                    </div>

                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>#</th>
                                <th>Фамилия имя</th>
                                <th>адрес</th>
                                <th>skype</th>
                                <th>курсы</th>
                            </tr>
                                {% for student in object_list %}
                            <tr>
                                <td>{{ student.id }}</td>
                                <td>
                                    <a href="{% url 'students:detail' student.id %}">{{ student }}</a>
                                </td>
                                <td>{{ student.address }}</td>
                                <td>{{ student.skype }}</td>
                                <td>
                                    <ul>
                                        {% for course in student.courses.all %}
                                            <li><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></li>
                                        {% endfor %}
                                        <li><a href="{% url 'students:edit' student.id %}">Изменить</a></li>
                                        <li><a href="{% url 'students:remove' student.id %}">Удалить</a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                        <ul class="pagination pagination-centered">
                            {% if object_list.has_previous %}
                                <li><a href="?page={{ object_list.previous_page_number }}{{ course_link }}"><< previous</a></li>
                            {% endif %}
                            <li><a href="#">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</a></li>
                            {% if object_list.has_next %}
                                <li><a href="?page={{ object_list.next_page_number }}{{ course_link }}">next >></a></li>
                            {% endif %}
                        </ul>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}