{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses add students page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with active_students="active" %}
{% endblock navi %}

{% block content %}

    <div class="page-header">
        <h1 class="user-list-course">{{ title }}</h1>
    </div>

    <div class="user-list">

        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Save"/>
        </form>

    </div>

{% endblock content %}