{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses students page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with active_students="active" %}
{% endblock navi %}

{% block content %}

    <div class="page-header">
        <h1 class="user-list-course">Список студентов</h1>
    </div>
    <a href="{% url 'students:add' %}" class="btn btn-info">добавить студента</a>
    <div class="user-list">

        <table>
            <tr>
                <th>#</th>
                <th>Фамилия имя</th>
                <th>адрес</th>
                <th>skype</th>
                <th>курсы</th>
            </tr>
                {% for student in object_list %}
            <tr>
                <td>{{ student.id }}</td>
                <td>
                    <a href="{% url 'students:detail' student.id %}">{{ student }}</a>
                </td>
                <td>{{ student.address }}</td>
                <td>{{ student.skype }}</td>
                <td>
                    <ul>
                        {% for course in student.courses.all %}
                            <li><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></li>
                        {% endfor %}
                        <li><a href="{% url 'students:edit' student.id %}" class="btn btn-info">Изменить</a></li>
                        <li><a href="{% url 'students:remove' student.id %}" class="btn btn-info">Удалить</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>

        <ul class="pagination pagination-centered">
            {% if object_list.has_previous %}
                <li><a href="?page={{ object_list.previous_page_number }}">previous</a></li>
            {% endif %}
            <li><a href="#">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</a></li>
            {% if object_list.has_next %}
                <li><a href="?page={{ object_list.next_page_number }}">next</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock content %}