#director {
  font-family: Helvetica;

}
#manager {
  font-family: Times;

}
#founder {
  font-family: Verdana;
}
.dir {
  text-align: center;
  color: red;

}
.manag {
  text-align: center;
  color: green;
}
.found{
  text-align: center;
  color: blue;
}
.spn {
  font-family: Georgia, sans-serif;
  color: #e58b15;
}
#uli {
  color: #e5155d;
}
#ulii {
  color: #e53f15;
}
#uliii {
  color: #1518e5;
}
#uliiii {
  color: #999a04;
}
.color_6 {
  background-color:#5236ec; 
}
.color_7 {
  background-color:#739834;
}
.color_8 {
  background-color:#813498;
}
.color_9 {
  background-color:#983443;
}
.color_10 {
  background-color:#b8979d;
}
.color_11 {
  background-color:#4f1720;
}
.color_12 {
  background-color:#7e9a98;
}
.color_13 {
  background-color:#7e869a;
}
.color_14 {
  background-color:#d83b53;
}
.color_15 {
  background-color:#d8cd6e;
}
.color_16 {
  background-color:#6ed885;
}
.color_17 {
  background-color:#bcd86e;
}
.color_18 {
  background-color:#6ed8af;
}
.color_19 {
  background-color:#d89b6e;
}
.color_20 {
  background-color:#ec8436;
}
.color_21 {
  background-color:#9636ec;
}