h1 {
  color: black;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

h3 {
  color: red;
  text-align: center;
}

h4 {
  color: green;
}

span.label.label-default {
  color: green;
  background-color: yellow;
}

p {
  color: black;
  text-align: center;
}

p#bl {
  color: blue;
}

span {
  color: red;
}

div.jumbotron {
  border-width: 0;
}

div.container {
  text-align: center;
}

li#learn1 {
  color: #CD5C5C;
  text-align: left;
}

li#learn2 {
  color: #CD853F;
  text-align: left;
}

li#learn3 {
  color: #D2691E;
  text-align: left;
}

li#learn4 {
  color: #D2B48C;
  text-align: left;
}