{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses feedback page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with active_feedback="active" %}
{% endblock navi %}

{% block content %}

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Feel free to <strong>{{ title }}</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <input type="submit" value="Send"/>
                    </form>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}


