<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>HyperContact</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="contact.html">Contacts</a></li>
      <li role="presentation"><a href="index.html">Main</a></li>
    </ul>
    <h3 class="dir">Director</h3>
    <div class="bs-example" id="director">
      <ul class="list-group">
        <li class="list-group-item">Name: <span class="spn">Татьяна Орехова</span></li>
        <li class="list-group-item">Skype: <span class="spn">Tatyana_Oriekhova</span> </li>
        <li class="list-group-item">Email: <span class="label label-default">to096540848@gmail.com</span></li>
        <li class="list-group-item">Phone: <span class="label label-info">+38 099 186 64 75</span></li>
      </ul>
    </div>
    <h3 class="manag">Manager</h3>
    <div class="bs-example" id="manager">
      <ul class="list-group">
        <li class="list-group-item">Name: <span class="spn">Дария Михалевич</span></li>
        <li class="list-group-item">Skype: <span class="spn">darka.darka.darka.darka.</span></li>
        <li class="list-group-item">Email: <span class="label label-default">daria.mykhalevych@gmail.com</span></li>
        <li class="list-group-item">Phone: <span class="label label-info">+38 096 469 15 57</span> </li>
      </ul>
    </div>    
    <h3 class="found">Founder</h3>
    <div class="bs-example" id="founder">
      <ul class="list-group">
        <li class="list-group-item">Name: <span class="spn">Павел Обод</span></li>
        <li class="list-group-item">Skype: <span class="spn">azaless</span></li>
        <li class="list-group-item">Email: <span class="label label-default">itbursa100@gmail.com</span></li>
        <li class="list-group-item">Phone: <span class="label label-info">+38 099 173 67 43</span></li>
      </ul>
    </div>    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>