<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Contacts</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
		<link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<nav class="navbar navbar-default navbar-static-top">
  		<div class="container">
				<ul class="nav navbar-nav">
        <li><a href="index.html">Main</a></li>
        <li class="active"><a href="#">Contact</a></li>
      </ul>
  		</div>
		</nav>
		<div class ='container'>
			<div class='proffesion'>
				<h2 class='possition'>Director</h2>
				<table class='table'>
					<tr><td><img src='../static/images/manager.png'></td>
					<td><p class='name'>Name: Anton Chehov</p>
					<p class='name'>Skype: anton.chehov</p>
					<p class='name'>Email: anton.chehov@gmail.com</p>
					<p class='name'>Phone: (050) 485 74 15</p></td>
				</table>
			</div>
			<div>
				<h2 class='possition'>Manager</h2>
				<table class='table'>
					<tr><td><img src='../static/images/pic.jpg'></td>
					<td><p class='name'>Name: Taras Bulba</p>
					<p class='name'>Skype: taras.bulba</p>
					<p class='name'>Email: taras.bulba@gmail.com</p>
					<p class='name'>Phone: (050) 455 44 15</p></td>
				<table class='table'>
			</div>
			<div>
				<h2 class='possition'>Founder</h2>
				<table class='table'>
					<tr><td><img src='../static/images/image.jpg'></td>
					<td><p class='name'>Name: Lev Tolstoy</p>
					<p class='name'>Skype: lev.tolstoy</p>
					<p class='name'>Email: lev.tolstoy@gmail.com</p>
					<p class='name'>Phone: (050) 285 34 17</p></td>
			</div>
		</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>




