<!DOCTYPE html>
<html lang="en">
<head>
  <title>pyBursa | Main</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	  <a class="navbar-brand" href="http://pybursa.com/">
		<img class="logo-minions" alt="Logo Pretty Minions" src="../static/images/logo.jpg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Main</a></li>
        <li><a href="contact.html">Contacts</a></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- end Nav bar-->
<h1>Description</h1>
<div class="container">
	<div class="content" id="desc-id">
		<h3 class="tag-name"> of <span id="pyBursa">pyBursa</span> course</h3>	
			<p class="img-desc"><img class="img-desc" alt="funny-pic" src="../static/images/desc-pic-1.jpg" align="middle" />  <span id="py-desc">pYthOn & dJanGo fOrEvEr</span></p>
			<p><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Язык программирования Python 3 — это мощный инструмент для создания программ самого разнообразного назначения, доступный даже для новичков. С его помощью можно решать задачи различных типов.</p>
			<p><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>Язык Python обладает некоторыми примечательными особенностями, которые обуславливают его широкое распространение. </p>
			<p><span class="glyphicon glyphicon-erase" aria-hidden="true"></span>Изучение языка программирования python - это просто и понятно даже для чайников. </p>
	</div>
	<div class="content" id="program">
	<h1>Program</h1>
	<table border="2" cellpadding="30px" cellspacing="30px" border-color="#eed9c4" width="auto">
	<tr>
		<th class="head-name">Week</th>
		<th class="head-name">Theme</th>
	</tr>
	<tr>
		<td>1</td>
		<td><a href="http://pybursa.com" class="ptn" alt="pybursa">Основы Python</a></td>
	</tr>
		<tr>
		<td>2</td>
		<td>Строки и итераторы</td>
	</tr>
		<tr>
		<td>3</td>
		<td>Функции и модульность </td>
	</tr>
	</table>
	</div>
	<h6>Another list </h6>
	<ol> 
		<li><h5>Stepper1<h5></li>
		<li><h4>Stepper2</h4></li>
	</ol>
	<div class="btn-group btn-group-lg" role="group" aria-label="Button1"><h4>Button<span id="first-btn">1</span></h4></div>
<div class="btn-group" role="group" aria-label="Button2"><h5>Button2</h5></div>
<div class="btn-group btn-group-sm" role="group" aria-label="Button3"><h6>Button3</h6></div>
<div class="btn-group btn-group-xs" role="group" aria-label="Button4"><h2>Button4</h2></div>
<p class="text-left">Left text.</p>
<p class="text-center">Center text.</p>
<p class="text-right">Right text.</p>
<p class="text-justify">Justified text.</p>
<p class="text-nowrap">No wrap text.</p>	
</div>
<div class="footer">
	<p class="lead"> See you <mark>later</mark></p>
	<p> Welcome <a href="contact.html">Contacts</a></p>
</div>
</body>
</html>
