<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Python course</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
        <img class="logo" src="../static/images/py_logo.png" />
        
      </div>
      <div class="container">
          <ul class="nav navbar-nav">
            <li class="active"><a class="top_bar" href="index.html">Main<span class="sr-only">(current)</span></a></li>
            <li><a class="top_bar" href="contact.html">Contacts</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <h2 class="top">Проффесиональные <span class="py">Python</span> курсы от "Bursa"</h2>
    <div class="container">
      <div class="page-header">
        <h1 class="descr">Description</h1>
        <div class="jumbotron">
          
          <div class="diviz1">Запишись на курсы <span class="py">Python</span></div>
          <div class="diviz2">Попади в тренд современной</div>
          <div class="diviz3">WEB разработки</div>
          <p>Наибольшей проблемой всех учебников и статей, по которым начинают
            изучать <span class="py">Python</span> - это отсутствие практики с освоенным материалом.</br>
            Можно читать тонны ресурсов по веб-программированию на <span class="py">Python</span> - и
            не научиться ничему, потому что знания, которые вы не успели применить,
            очень быстро забываются.</br>
            Многие начинающие сдаются на полпути, так как устают, им надоедает 
            бесконечное блуждание по сети в поисках крупиц информации, из которых
            трудно собрать общую картину.
          </p>
          <p>Мы предлагаем современные подходы к обучению! У нас Вы научитесь всему что понадобится для успешного старта карьеры в IT!</p>
        </div>
      </div>
      <div class="page-header">
        <h1 class="programh">Program</h1>
        <div class="jumbotron">
          <p>Курсы будут проходить с 19 октября по 28 декабря.</br>
          Практические занятия в аудитории + онлайн лекции.</p>
          <h2 class="program">Программа</h2>
        <table class="my_table">
        <tbody>
        <tr class="t_head">
          <th>
            ЗАНЯТИЕ
          </th>
          <th>
            ТЕМА
          </th>
          <th>
            СОДЕРЖАНИЕ
          </th>
        </tr>
        <tr>
          <td class="numbers">
            1
          </td>
          <td>
            Основы Python
          </td>
          <td>
            <ul>
              <li>zen, pep8, pylint, tools, IDE</li>
              <li>консоль, типы данных, операторы</li>
              <li>синтаксис управляющих конструкций (if, for...)</li>
              <li>исключения и разбор стектрейса</li>
              <li>кодировка в Python</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            2
          </td>
          <td>
            Строки и итераторы
          </td>
          <td>
            <ul>
              <li>работа со строками и итерируемыми типами</li>
              <li>запуск скрипта и параметры</li>
              <li>git http://try.github.com/levels/</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            3
          </td>
          <td>
            Функции и модульность
          </td>
          <td>
            <ul>
              <li>функции (def, lambda)</li>
              <li>генераторы списков</li>
              <li>модули, структура</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            4
          </td>
          <td>
            Библиотеки и пакетный менеджер
          </td>
          <td>
            <ul>
              <li>встроенные библиотеки http://docs.python.org/</li>
              <li>сторонние библиотеки (менеджер пакетов) PYPI</li>
              <li>PYTHONPATH и виртуальное окружение</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            5
          </td>
          <td>
            Классы и ООП, основы
          </td>
          <td>
            <ul>
              <li>синтаксис, атрибуты, методы, инстанцирование</li>
              <li>все объект, служебные методы</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            6
          </td>
          <td>
            Классы и ООП, возможности Python
          </td>
          <td>
            <ul>
              <li>инкапсуляция, наследование, полиморфизм</li>
              <li>переопределение методов</li>
              <li>super</li>
              <li>абстрактные классы</li>
              <li>статические методы</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            7
          </td>
          <td>
            Работа с файлами
          </td>
          <td>
            <ul>
              <li>запись и чтение файлов</li>
              <li>методы объектов-файлов</li>
              <li>csv, json</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            8
          </td>
          <td>
            Работа с датами
          </td>
          <td>
            <ul>
              <li>модуль datetime</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            9
          </td>
          <td>
            Основы html/css
          </td>
          <td>
            <ul>
              <li>html - теги и свойства</li>
              <li>css - свойства и селекторы</li>
              <li>каскадное переопределение свойств</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            10
          </td>
          <td>
            Основы JavaScript
          </td>
          <td>
            <ul>
              <li>Зачем разработчику backend нужно знать js?</li>
              <li>DOM</li>
              <li>JS, jQuery, Ajax</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            11
          </td>
          <td>
            Основы Web, HTTP
          </td>
          <td>
            <ul>
              <li>Django. “Hello world!”</li>
              <li>HTTP (GET, POST), (200, 404, 500), headers, cookies</li>
              <li>Инструменты отладки браузера (Firebug, Web Developer)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            12
          </td>
          <td>
            Django first steps
          </td>
          <td>
            <ul>
              <li>почему django?</li>
              <li>введение и описание фреймворка</li>
              <li>старт проекта</li>
              <li>команды manage.py</li>
              <li>django.contrib</li>
              <li>авторизация, django.contrib.auth</li>
              <li>админка</li>
              <li>статика</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            13
          </td>
          <td>
            Структура Web приложения
          </td>
          <td>
            <ul>
              <li>MVC</li>
              <li>Views</li>
              <li>роутинг урлов, передача параметров</li>
              <li>объект реквест</li>
              <li>объект респонс</li>
              <li>обработка реквеста, формирование респонса</li>
              <li>обработка и изменение хедеров</li>
              <li>мидлвар</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            14
          </td>
          <td>
            Работа с базами данных, ORM
          </td>
          <td>
            <ul>
              <li>модели и поля, типы полей и атрибуты</li>
              <li>связи между таблицами и проектирование БД</li>
              <li>миграции</li>
              <li>фикстуры</li>
              <li>QuerySet</li>
              <li>Raw-sql</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            15
          </td>
          <td>
            Кастомизация админки
          </td>
          <td>
            <ul>
              <li>Класс админки</li>
              <li>настройка отображения виджетов</li>
              <li>кастомизация ItemView, ListView, редактирование в ListView</li>
              <li>Сортировка, фильтры, поиск admin actions, редактирование полей в ListView</li>
              <li>admin actions, редактирование полей в ListView</li>
              <li>Admin dashboard</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            16
          </td>
          <td>
            Язык шаблонов
          </td>
          <td>
            <ul>
              <li>Синтаксис, логические конструкции</li>
              <li>наследование и includes</li>
              <li>Понятие контекста, контекст процессор</li>
              <li>теги и фильтры</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            17
          </td>
          <td>
            Forms
          </td>
          <td>
            <ul>
              <li>Формы</li>
              <li>Типы полей</li>
              <li>Виджеты</li>
              <li>Атрибуты</li>
              <li>Валидация</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            18
          </td>
          <td>
            Class-based (Generic) Views
          </td>
          <td>
            <ul>
              <li>Встроенные class-based views (TemplateView, ListView, ItemView)</li>
              <li>Использование форм с class-based views</li>
              <li>Миксины</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            19
          </td>
          <td>
            Реализация стандартных задач
          </td>
          <td>
            <ul>
              <li>Отправка емейл</li>
              <li>Кеширование</li>
              <li>Интернационализация</li>
              <li>Signup/Login</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            20
          </td>
          <td>
            Средства отладки и тестирование
          </td>
          <td>
            <ul>
              <li>logging</li>
              <li>pdb</li>
              <li>debug toolbar</li>
              <li>extensions</li>
              <li>unit-tests</li>
              <li>selenium</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="numbers">
            21
          </td>
          <td>
            Деплоймент
          </td>
          <td>
            <ul>
              <li>nginx</li>
              <li>Управление статикой</li>
              <li>Деплоймент</li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
        </div>
      </div>
    </div>
    <nav class="container">
    <ul class="pager">
      
      <li class="next"><a href="contact.html">Contacts<span aria-hidden="true">&rarr;</span></a></li>
    </ul>
    </nav>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>