<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>IT courses student list page</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.html">Main</a></li>
            <li role="presentation"><a href="contact.html">Contacts</a></li>
            <li role="presentation" class="active"><a href="student_list.html">Students</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">ItBursa</h3>
      </div>

      <h1 class="user-list-course">Students Course Python</h1>

      <div class="user-list">
        <table class="table table-user-list">
            <tr class="table-user-list-header">
                <th>No</th> <th>Surname</th> <th>Name</th> <th>Address</th> <th>Skype</th>
            </tr>
            <tr>
                <td>
                    <a href="student_detail.html">1</a>
                </td>
                <td>Hubarenko</td> <td>Vladimir</td> <td>Sumy</td> <td>vladimir.gubarenko</td>
            </tr>
            <tr>
                <td>2</td> <td>Name</td> <td>Surname</td> <td>Address</td> <td>skype</td>
            </tr>
            <tr>
                <td>3</td> <td>Name</td> <td>Surname</td> <td>Address</td> <td>skype</td>
            </tr>
            <tr>
                <td>4</td> <td>Name</td> <td>Surname</td> <td>Address</td> <td>skype</td>
            </tr>
            <tr>
                <td>5</td> <td>Name</td> <td>Surname</td> <td>Address</td> <td>skype</td>
            </tr>
        </table>

      </div>

      <footer class="footer">
        <p class="copy-text">&copy; 2015</p>
      </footer>

    </div>

    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>