<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>IT courses contact page</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.html">Main</a></li>
            <li role="presentation"><a href="contact.html">Contacts</a></li>
            <li role="presentation" class="active"><a href="student_list.html">Students</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">ItBursa</h3>
      </div>

      <h1 class="main-course">Hubarenko Vladimir</h1>

      <div>
        <table class="table">
            <tr>
                <th>Surname</th> <td>Hubarenko</td>
            </tr>
            <tr>
                <th>Name</th> <td>Vladimir</td>
            </tr>
            <tr>
                <th>Patronymic</th> <td>Anatoliyevich</td>
            </tr>
            <tr>
                <th>Rating</th> <td>100</td>
            </tr>
            <tr>
                <th>Average Grade</th> <td>100</td>
            </tr>
            <tr>
                <th>Birth Date</th> <td>1974-02-01</td>
            </tr>
            <tr>
                <th>Address</th> <td>Sumy</td>
            </tr>
            <tr>
                <th>E-mail</th> <td>x500@ukr.net</td>
            </tr>
            <tr>
                <th>Skype</th> <td>vladimir.gubarenko</td>
            </tr>
        </table>
      </div>

      <h3>Perfomance</h3>

      <div>
        <table class="table">
            <tr>
                <th>Course</th> <th>Week</th> <th>Control Type</th> <th>Grade</th>
            </tr>
            <tr>
                <td>P01 Introduction Python</td> <td>Week 1</td> <td>Tests</td> <td>99%</td>
            </tr>
            <tr>
                <td></td> <td></td> <td>Problem Task # 1</td> <td>100%</td>
            </tr>
        </table>
      </div>

      <footer class="footer">
        <p class="copy-text">&copy; 2015</p>
      </footer>

    </div>

    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>