{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses course detail page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with course_id_param="?course_id=" course_id=course.id %}
{% endblock navi %}

{% block content %}

    <div class="course-detail-header">
        <h3>{{ title }}</h3>
        <h4>{{ course }}</h4>
        <p class="lead">{{ course.description|truncatechars:32 }}</p>
    </div>

    <h3>Преподаватели</h3>

    <h4>Учитель</h4>
    <a href="{% url 'coaches:detail' course.coach.id %}">
        <h4>{{ course.coach.first_name }} {{ course.coach.last_name }}</h4>
    </a>
    <p>{{ course.coach.description }}</p>

    <h4>Ассистент</h4>
    <a href="{% url 'coaches:detail' course.assistant.id %}">
        <h4>{{ course.assistant.first_name }} {{ course.assistant.last_name }}</h4>
    </a>
    <p>{{ course.assistant.description }}</p>

    <h3>План курса</h3>

    <a href="{% url 'courses:add-lesson' course.id %}" class="btn btn-info">добавить занятие</a>

    <div class="program-list">
        <table>
            <tr>
                <th>#</th>
                <th>Тема</th>
                <th>Описание</th>
            </tr>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.order }}</td>
                    <td>{{ lesson }}</td>
                    <td>{{ lesson.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}