<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>IT courses course detail page</title>

    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'index' %}">Main</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Contacts</a></li>
            <li role="presentation" class="active"><a href="{% url 'students:list_view' %}?course_id={{ course.id }}">Students</a></li>
            <li role="presentation"><a href="/admin">Admin</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">ItBursa</h3>
      </div>

      <div class="jumbotron">
        <h1 class="user-list-course">{{ course }}</h1>
        <p class="lead">{{ course.description }}</p>
      </div>


      <h3 class="user-list-course">План курса</h3>

      <div class="program-list">

          <table>
            <tr>
                <th> # </th> <th> Тема </th> <th> Описание </th>
            </tr>
            {% for lesson in lessons %}
            <tr>
                <td> {{ lesson.order }} </td><td> {{ lesson }} </td> <td> {{ lesson.description }} </td>
            </tr>
            {% endfor %}
          </table>

      </div>

      <footer class="footer">
        <p class="copy-text">&copy; 2015</p>
      </footer>

    </div>

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>