{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses edit courses page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with active_students="active" %}
{% endblock navi %}

{% block content %}

    <div class="page-header">
        <h3>Редактирование курса</h3>
    </div>

    <div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Сохранить"/>
        </form>

    </div>

{% endblock content %}