{% extends "base.html" %}

{% load staticfiles %}

{% block title %}IT courses delete courses page{% endblock title %}

{% block navi %}
    {% include "include/navi_include.html" with active_students="active" %}
{% endblock navi %}

{% block content %}

    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>

    <div>

        <h4>Курс {{ course.name }} будет удален</h4>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Удалить" />
        </form>

    </div>

{% endblock content %}